/* Botón hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 28px;
    height: 3px;
    background: var(--navy-blue);
    border-radius: 5px;
    transition: 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {

    .logo img {
        height: 90px; /* Reducir tamaño para móvil */
        margin-top: 10px;
    }

    /* Oculta el menú */
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 25px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }

    /* Muestra el menú cuando está activo */
    .nav-links.active {
        display: flex;
    }

    /* Mostrar botón hamburguesa */
    .menu-toggle {
        display: flex;
    }

    /* Animación a X */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }
}
